# 1 - Reading Raw Data

Loading data, sanity checks and data preprocessing

### Imports

Be sure that you are using the poetry environment according to the README description.

In [1]:
import pandas as pd
import pathlib
import os
import pickle

# Setting project root directory to work with scripts folder
project_root = os.path.abspath(os.path.join(os.getcwd(), ".."))
os.chdir(project_root)

print("Current Working Directory:", os.getcwd())

Current Working Directory: /home/gabrielhso/Desktop/northumbria/data-analytics/project-repo

### Downloading Data

Before running the cells below, be sure that you have [AWS CLI](https://aws.amazon.com/cli/) installed. The script below tries to use it to download the necessary files from the S3 bucket. \
For further information about the installation, read the [registry description](https://registry.opendata.aws/cse-cic-ids2018/).

In [2]:
DATA_DIR = pathlib.Path.cwd() / 'data'
DATA_DIR.mkdir(parents=True, exist_ok=True)
RAW_DATA_DIR = DATA_DIR / 'raw'
RAW_DATA_DIR.mkdir(parents=True, exist_ok=True)

In [3]:
from scripts.download_data import download_data

download_data()
TARGET_FILEPATH = RAW_DATA_DIR / 'Wednesday-14-02-2018_TrafficForML_CICFlowMeter.csv'

raw_data_df = pd.read_csv(TARGET_FILEPATH)
raw_data_df.head()

File data/raw/Wednesday-14-02-2018_TrafficForML_CICFlowMeter.csv already exists.

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,0,0,14/02/2018 08:31:01,112641719,3,0,0,0,0,0,...,0,0.0,0.0,0,0,56320859.5,139.300036,56320958,56320761,Benign
1,0,0,14/02/2018 08:33:50,112641466,3,0,0,0,0,0,...,0,0.0,0.0,0,0,56320733.0,114.551299,56320814,56320652,Benign
2,0,0,14/02/2018 08:36:39,112638623,3,0,0,0,0,0,...,0,0.0,0.0,0,0,56319311.5,301.934596,56319525,56319098,Benign
3,22,6,14/02/2018 08:40:13,6453966,15,10,1239,2273,744,0,...,32,0.0,0.0,0,0,0.0,0.000000,0,0,Benign
4,22,6,14/02/2018 08:40:23,8804066,14,11,1143,2209,744,0,...,32,0.0,0.0,0,0,0.0,0.000000,0,0,Benign

### Sanity checks

Making sure there everything is right with the dataset

In [4]:
print(TARGET_FILEPATH)
filesize = TARGET_FILEPATH.stat().st_size
print(f'This file has {filesize} bytes')

print(f'Shape: {raw_data_df.shape}\n')
print(raw_data_df.info())
display(raw_data_df.head())

/home/gabrielhso/Desktop/northumbria/data-analytics/project-repo/data/raw/Wednesday-14-02-2018_TrafficForML_CICFlowMeter.csv
This file has 358223333 bytes
Shape: (1048575, 80)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 80 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Dst Port           1048575 non-null  int64
 1   Protocol           1048575 non-null  int64
 2   Timestamp          1048575 non-null  object
 3   Flow Duration      1048575 non-null  int64
 4   Tot Fwd Pkts       1048575 non-null  int64
 5   Tot Bwd Pkts       1048575 non-null  int64
 6   TotLen Fwd Pkts    1048575 non-null  int64
 7   TotLen Bwd Pkts    1048575 non-null  int64
 8   Fwd Pkt Len Max    1048575 non-null  int64
 9   Fwd Pkt Len Min    1048575 non-null  int64
 10  Fwd Pkt Len Mean   1048575 non-null  float64
 11  Fwd Pkt Len Std    1048575 non-null  float64
 12  Bwd Pkt Len Max    1048575 non-null  int64
 13  Bwd Pkt Len Min    1048575 non-null  int64
 14  Bwd Pkt Len Mean   1048575 non-null  float64
 15  Bwd Pkt Len Std    1048575 non-null  float64
 16  Flow Byts/s        1046298 non-null  float64
 17  Flow Pkts/s        1048575 non-null  float64
 18  Flow IAT Mean      1048575 non-null  float64
 19  Flow IAT Std       1048575 non-null  float64
 20  Flow IAT Max       1048575 non-null  int64
 21  Flow IAT Min       1048575 non-null  int64
 22  Fwd IAT Tot        1048575 non-null  int64
 23  Fwd IAT Mean       1048575 non-null  float64
 24  Fwd IAT Std        1048575 non-null  float64
 25  Fwd IAT Max        1048575 non-null  int64
 26  Fwd IAT Min        1048575 non-null  int64
 27  Bwd IAT Tot        1048575 non-null  int64
 28  Bwd IAT Mean       1048575 non-null  float64
 29  Bwd IAT Std        1048575 non-null  float64
 30  Bwd IAT Max        1048575 non-null  int64
 31  Bwd IAT Min        1048575 non-null  int64
 32  Fwd PSH Flags      1048575 non-null  int64
 33  Bwd PSH Flags      1048575 non-null  int64
 34  Fwd URG Flags      1048575 non-null  int64
 35  Bwd URG Flags      1048575 non-null  int64
 36  Fwd Header Len     1048575 non-null  int64
 37  Bwd Header Len     1048575 non-null  int64
 38  Fwd Pkts/s         1048575 non-null  float64
 39  Bwd Pkts/s         1048575 non-null  float64
 40  Pkt Len Min        1048575 non-null  int64
 41  Pkt Len Max        1048575 non-null  int64
 42  Pkt Len Mean       1048575 non-null  float64
 43  Pkt Len Std        1048575 non-null  float64
 44  Pkt Len Var        1048575 non-null  float64
 45  FIN Flag Cnt       1048575 non-null  int64
 46  SYN Flag Cnt       1048575 non-null  int64
 47  RST Flag Cnt       1048575 non-null  int64
 48  PSH Flag Cnt       1048575 non-null  int64
 49  ACK Flag Cnt       1048575 non-null  int64
 50  URG Flag Cnt       1048575 non-null  int64
 51  CWE Flag Count     1048575 non-null  int64
 52  ECE Flag Cnt       1048575 non-null  int64
 53  Down/Up Ratio      1048575 non-null  int64
 54  Pkt Size Avg       1048575 non-null  float64
 55  Fwd Seg Size Avg   1048575 non-null  float64
 56  Bwd Seg Size Avg   1048575 non-null  float64
 57  Fwd Byts/b Avg     1048575 non-null  int64
 58  Fwd Pkts/b Avg     1048575 non-null  int64
 59  Fwd Blk Rate Avg   1048575 non-null  int64
 60  Bwd Byts/b Avg     1048575 non-null  int64
 61  Bwd Pkts/b Avg     1048575 non-null  int64
 62  Bwd Blk Rate Avg   1048575 non-null  int64
 63  Subflow Fwd Pkts   1048575 non-null  int64
 64  Subflow Fwd Byts   1048575 non-null  int64
 65  Subflow Bwd Pkts   1048575 non-null  int64
 66  Subflow Bwd Byts   1048575 non-null  int64
 67  Init Fwd Win Byts  1048575 non-null  int64
 68  Init Bwd Win Byts  1048575 non-null  int64
 69  Fwd Act Data Pkts  1048575 non-null  int64
 70  Fwd Seg Size Min   1048575 non-null  int64
 71  Active Mean        1048575 non-null  float64
 72  Active Std         1048575 non-null  float64
 73  Active Max         1048575 non-null  int64
 74  Active Min         1048575 non-null  int64
 75  Idle Mean          1048575 non-null  float64
 76  Idle Std           1048575 non-null  float64
 77  Idle Max           1048575 non-null  int64
 78  Idle Min           1048575 non-null  int64
 79  Label              1048575 non-null  object
dtypes: float64(24), int64(54), object(2)
memory usage: 640.0+ MB
None

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,0,0,14/02/2018 08:31:01,112641719,3,0,0,0,0,0,...,0,0.0,0.0,0,0,56320859.5,139.300036,56320958,56320761,Benign
1,0,0,14/02/2018 08:33:50,112641466,3,0,0,0,0,0,...,0,0.0,0.0,0,0,56320733.0,114.551299,56320814,56320652,Benign
2,0,0,14/02/2018 08:36:39,112638623,3,0,0,0,0,0,...,0,0.0,0.0,0,0,56319311.5,301.934596,56319525,56319098,Benign
3,22,6,14/02/2018 08:40:13,6453966,15,10,1239,2273,744,0,...,32,0.0,0.0,0,0,0.0,0.000000,0,0,Benign
4,22,6,14/02/2018 08:40:23,8804066,14,11,1143,2209,744,0,...,32,0.0,0.0,0,0,0.0,0.000000,0,0,Benign

In [5]:
raw_data_df['Protocol'].value_counts()

Protocol
6     829309
17    207384
0      11882
Name: count, dtype: int64

### Feature Selection

Selecting the features necessary for the hypothesis test and dropping the rest.

In [6]:
FEATURES = ['Dst Port', 'Protocol', 'Timestamp', 'Tot Fwd Pkts', 'Tot Bwd Pkts', 'SYN Flag Cnt']

data_df = raw_data_df[FEATURES].copy()
data_df.head()

,Dst Port,Protocol,Timestamp,Tot Fwd Pkts,Tot Bwd Pkts,SYN Flag Cnt
0,0,0,14/02/2018 08:31:01,3,0,0
1,0,0,14/02/2018 08:33:50,3,0,0
2,0,0,14/02/2018 08:36:39,3,0,0
3,22,6,14/02/2018 08:40:13,15,10,0
4,22,6,14/02/2018 08:40:23,14,11,0

In [7]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Dst Port      1048575 non-null  int64
 1   Protocol      1048575 non-null  int64
 2   Timestamp     1048575 non-null  object
 3   Tot Fwd Pkts  1048575 non-null  int64
 4   Tot Bwd Pkts  1048575 non-null  int64
 5   SYN Flag Cnt  1048575 non-null  int64
dtypes: int64(5), object(1)
memory usage: 48.0+ MB

In [8]:
# Investigating data type of Timestamp
test = data_df['Timestamp'].iloc[0]
print(test, type(test))

14/02/2018 08:31:01 <class 'str'>

In [9]:
# Changing Timestamp to datetime
data_df['Timestamp'] = pd.to_datetime(data_df['Timestamp'], format='%d/%m/%Y %H:%M:%S') 
data_df['Timestamp'].head()

0   2018-02-14 08:31:01
1   2018-02-14 08:33:50
2   2018-02-14 08:36:39
3   2018-02-14 08:40:13
4   2018-02-14 08:40:23
Name: Timestamp, dtype: datetime64[ns]

In [10]:
data_df.head()

,Dst Port,Protocol,Timestamp,Tot Fwd Pkts,Tot Bwd Pkts,SYN Flag Cnt
0,0,0,2018-02-14 08:31:01,3,0,0
1,0,0,2018-02-14 08:33:50,3,0,0
2,0,0,2018-02-14 08:36:39,3,0,0
3,22,6,2018-02-14 08:40:13,15,10,0
4,22,6,2018-02-14 08:40:23,14,11,0

### Saving processed data

Saving data to a pickle file to easily work on other notebooks

In [11]:
PROCESSED_DATA_DIR = DATA_DIR / 'processed'
PROCESSED_DATA_DIR.mkdir(parents=True, exist_ok=True)

with open(PROCESSED_DATA_DIR / 'data_df.pkl', 'wb') as f:
    pickle.dump(data_df, f)